---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000119&card[exp_month]=11&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_rywASYMpka8DsWexRySEOYlb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19vmLUEI3UfzsZ2pbw4RA1CR",
          "object": "token",
          "card": {
            "id": "card_19vmLUEI3UfzsZ2pjwrC3t96",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2020,
            "fingerprint": "5FDUghT65EYJtJbL",
            "funding": "credit",
            "last4": "0119",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "86.145.63.33",
          "created": 1489146944,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 10 Mar 2017 11:55:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=90&currency=usd&description=Test&source=tok_19vmLUEI3UfzsZ2pbw4RA1CR
    headers:
      Authorization:
      - Bearer sk_test_rywASYMpka8DsWexRySEOYlb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error",
            "charge": "ch_19vmLUEI3UfzsZ2p1JtuXBu0"
          }
        }
  recorded_at: Fri, 10 Mar 2017 11:55:45 GMT
recorded_with: VCR 2.9.3
