!!! 5
%html(lang="en-US")
  %body
    %p
      Hi #{@user.full_name.split(" ")[0]},
    %p
      To reset your password click on the link below:
    %p= link_to "Reset My Password", password_reset_url(@user.token)